.Spinner {
    &__base {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 1000;
        align-items: center;
    }

    &__root {
        .ant-spin {
            position: absolute;
            top: 8px;
            right: -35px;
        }
    }
}
