.vscode
.module-cache
*.log*
build
dist
.DS_Store
node_modules
jspm_packages/
.idea
*.swp
tags
*.log
*.jsx
package-lock.json
.cache-loader
atlassian-ide-plugin.xml
npm-debug.log
*.data.json
*.sock
.eslintcache
test/tmp/*
typings/source
.env
