.vscode
.module-cache
*.log*
build
dist
.DS_Store
node_modules
static/built/
static/**/*.jsx
static/**/*.js
jspm_packages/
.idea
*.swp
tags
*.log
*.jsx
package-lock.json
.cache-loader
atlassian-ide-plugin.xml
npm-debug.log
static/old/server/node_modules
tests/node_modules
static/vendors/*
static/build/
*.data.json
*.sock
.eslintcache
test/tmp/*
typings/source
dockerScripts/localization/auth.json
dockerScripts/localization/diffs
node_modules/
scripts/tanker/diff.json
scripts/tanker/diff.csv
static/client/locale/*.json
static/client/locale/*.csv
!static/client/locale/ru.json
!static/client/locale/ынъысцл.json
!static/client/locale/localesList.json
