.Header {
    background: #111111 !important;
    display: flex;
    justify-content: space-between;

    $iconSize: 2em;

    &__logo {
        width: 214px;
        height: 38px;
        margin: 16px 24px 16px 0;
        float: left;

        &Image {
            position: relative;
            top: -16px;
            width: 100%;
        }
    }

    &__content {
        flex-grow: 1;
        justify-content: center;
        margin: 0 2.4rem;
        opacity: 0;
        transition: opacity 1s;

        &_visible {
            opacity: 1;
            display: flex;
            height: 100%;
            align-items: center;
        }

        &ContentRoot {
            position: relative;
            height: inherit;
        }
    }

    &__tabs {
        overflow: hidden;
        height: inherit;

        &Wrapper {
            display: flex;
            height: 100%;
            align-items: center;
        }
    }

    &__searchButton {
        display: inline-flex;
        padding: 0;
        opacity: .6;
        background-color: transparent;
        transition: opacity 1s;
        align-items: center;
        justify-content: center;

        & svg {
            width: $iconSize !important;
            height: $iconSize !important;
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
        }

        &_accent {
            color: $accent !important;
        }
    }

    &__tab {
        --active-color-text: var(--white);
        --active-color-border: var(--primary-color);
        display: inline-block;
        height: 100%;
        font-size: 1.15rem;
        font-weight: 500;
        line-height: 2.2rem;
        margin-right: 3.2rem;
    }

    &__navLink {
        text-decoration: none;
    }

    &__navLi, &__link {
        color: #ffffff;
    }

    &__link {
        color: #ffffff;
        display: flex;
        align-items: center;
        opacity: .6;
        transition: opacity 1s;

        &:hover {
            color: #ffffff;
            opacity: 1;
        }

        &_active {
            padding-bottom: 0.3rem;
            border: solid transparent;
            border-width: 0 0 .2rem;
            opacity: 1;
            border-bottom-color: $accent;
        }
    }

    &__avatar {
        color: #ffffff;

        &:hover {
            cursor: pointer;
        }

        & svg {
            width: $iconSize !important;
            height: $iconSize !important;
        }

        &_visible {
            opacity: 1;
        }

        &Wrapper {
            position: relative;
            top: 8px;
        }
    }
}
